name: Build and Publish Revision

run-name: Build and Publish Cloud-Agent Revision from ${{ github.head_ref || github.ref_name }} run ${{ github.run_number }}

concurrency:
  group: build-${{ github.sha }}

on:
  workflow_dispatch:
  schedule:
    - cron: 0 3 * * 6

jobs:
  build:
    name: "Build and Publish Cloud-Agent Revision"
    permissions:
      contents: write
      packages: write
      id-token: write
    env:
      GITHUB_ACTOR: "hyperledger-bot"
      GITHUB_ACTOR_EMAIL: "hyperledger-bot@hyperledger.org"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      JAVA_TOOL_OPTIONS: -Djava.net.preferIPv4Stack=true
      SBT_OPTS: -Xmx2G

    runs-on: ubuntu-latest

    outputs:
      BUILD_VERSION: ${{ steps.revision.outputs.BUILD_VERSION }}
      REVISION_VERSION: ${{ steps.revision.outputs.REVISION_VERSION }}
      OAS_CHECKSUM: ${{ steps.build-oas.outputs.OAS_CHECKSUM }}
      OAS_PUBLISHED: ${{ steps.upload-oas.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@32ffa16635ff8f19cc21ea253a987f0fdf29844c # v14
        with:
          java-version: openjdk@1.17

      - uses: coursier/cache-action@2addd381bd2c931f42d4b734b9d0c9b73aac16fb # v6
        id: coursier-cache

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7 # v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # v2

      - name: Extract revision version
        id: revision
        run: |
          COMMIT_HASH="${GITHUB_SHA::7}"
          BUILD_NUMBER="${GITHUB_RUN_NUMBER}"
          VERSION=$(grep -Eo 'version := "[^"]+"' version.sbt | sed 's/version := "//; s/"//; s/-SNAPSHOT//')
          REVISION_VERSION=${VERSION}-$COMMIT_HASH # Revision version is used for the OAS file name and client libraries
          BUILD_VERSION=${VERSION}-$BUILD_NUMBER-$COMMIT_HASH # Build version is used for the Docker image tag

          echo "REVISION_VERSION=$REVISION_VERSION" >> "$GITHUB_OUTPUT"
          echo "BUILD_VERSION=$BUILD_VERSION" >> "$GITHUB_OUTPUT"

      - name: Build Docker Image
        run: |
          sbt "set version := \"${{ steps.revision.outputs.BUILD_VERSION }}\"" "docker:stage"
          docker buildx build --platform=linux/arm64,linux/amd64 --push -t ${{ vars.DOCKERHUB_ORG }}/identus-cloud-agent:${{ steps.revision.outputs.BUILD_VERSION }} ./cloud-agent/service/server/target/docker/stage

      - name: Docker Metadata Action
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: ${{ vars.DOCKERHUB_ORG }}/identus-cloud-agent
          tags: |
            type=semver,pattern={{version}}
          labels: |
            org.opencontainers.image.title=cloud-agent
            org.opencontainers.image.description=Hyperledger Identus Cloud Agent
            org.opencontainers.image.url=https://github.com/hyperledger-identus/cloud-agent
            org.opencontainers.license=Apache-2.0
            latest=${{ github.ref == 'refs/heads/main' && 'true' || 'false' }}
            snapshot=${{ github.ref != 'refs/heads/main' && 'true' || 'false' }}

      - name: Push Docker Image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: ./cloud-agent/service/server/target/docker/stage
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          push: ${{ steps.meta.outputs.tags != '' }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}

      - name: Build Cloud-Agent Open API Specification
        id: build-oas
        run: |
          sbt "cloudAgentServer/test:runMain org.hyperledger.identus.api.util.Tapir2StaticOAS ../../../cloud-agent-openapi-spec-${{ steps.revision.outputs.REVISION_VERSION}}.yaml revision"
          checksum=$(sha256sum ./cloud-agent-openapi-spec-${{ steps.revision.outputs.REVISION_VERSION }}.yaml | awk '{ print $1 }')
          OAS_CHECKSUM=${checksum:0:8}
          echo "OAS_CHECKSUM=OAS_CHECKSUM" >> "$GITHUB_OUTPUT"

      - name: Publish Cloud-Agent Open API Specification
        id: upload-oas
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: cloud-agent-openapi-spec-${{ steps.build-oas.outputs.OAS_CHECKSUM}}
          path: ./cloud-agent-openapi-spec-${{ steps.revision.outputs.REVISION_VERSION}}.yaml
          overwrite: true
          compression-level: 0

  end-to-end:
    needs: build
    name: "Dispatch end-to-end"
    runs-on: ubuntu-latest

    steps:
      - name: Trigger component integration
        uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0 # v3
        with:
          token: ${{ secrets.IDENTUS_CI }}
          repository: hyperledger-identus/integration
          event-type: integration
          client-payload: '{"component": "cloud-agent", "version": "${{ needs.build.outputs.BUILD_VERSION }}"}'

  build-and-publish-clients:
    needs: build
    permissions:
      contents: read
      packages: write
      id-token: write
    if: needs.build.outputs.OAS_PUBLISHED
    uses: ./.github/workflows/release-clients.yml
    secrets: inherit
    with:
      revision: ${{ needs.build.outputs.REVISION_VERSION }}
      check_sum: ${{ needs.build.outputs.OAS_CHECKSUM }}
