name: Integration tests

concurrency:
  group: ${{ github.head_ref }}${{ github.ref }}-integration-tests
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - "main"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  run-integration-tests:
    name: "Run integration tests"
    permissions:
      checks: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.pull_request.title, '[skip ci]') }}
    env:
      LOGS_DIR: "tests/integration-tests/target/logs"
      REPORTS_DIR: "tests/integration-tests/target/site/serenity"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@32ffa16635ff8f19cc21ea253a987f0fdf29844c # v14
        with:
          java-version: openjdk@1.17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3.5.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: hyperledger-bot
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Compose
        uses: ndeloof/install-compose-action@4a33bc31f327b8231c4f343f6fba704fedc0fa23 # v0.0.1
        with:
          version: v2.12.2 # defaults to 'latest'
          legacy: true # will also install in PATH as `docker-compose`

      - name: Build local version of Cloud Agent
        id: build_local_cloud_agent
        env:
          ENV_FILE: "infrastructure/local/.env"
          GITHUB_ACTOR: hyperledger-bot
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sbt docker:publishLocal
          echo "agent_version=$(cut -d'=' -f2 version.sbt | tr -d '" ')" >> "${GITHUB_OUTPUT}"
          echo "prism_node_version=$(grep PRISM_NODE_VERSION infrastructure/local/.env | cut -d'=' -f2 | tr -d ' ')" >> "${GITHUB_OUTPUT}"

      - uses: actions/setup-java@17f84c3641ba7b8f6deff6309fc4c864478f5d62 # v3.14.1
        with:
          distribution: "zulu"
          java-version: "21"

      - name: Run integration tests
        working-directory: "tests/integration-tests"
        env:
          PRISM_NODE_VERSION: ${{ steps.build_local_cloud_agent.outputs.prism_node_version }}
          AGENT_VERSION: ${{ steps.build_local_cloud_agent.outputs.agent_version }}
          GITHUB_ACTOR: hyperledger-bot
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NEOPRISM_VERSION: 0.9.1
          TESTS_CONFIG: /configs/basic_neoprism.conf
        #        continue-on-error: true
        run: |
          ./gradlew test --tests "IntegrationTestsRunner"

      - name: Make report of integration tests
        working-directory: "tests/integration-tests"
        if: always()
        env:
          PRISM_NODE_VERSION: ${{ steps.build_local_cloud_agent.outputs.prism_node_version }}
          AGENT_VERSION: ${{ steps.build_local_cloud_agent.outputs.agent_version }}
          GITHUB_ACTOR: hyperledger-bot
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NEOPRISM_VERSION: 0.9.1
          TESTS_CONFIG: /configs/basic_neoprism.conf
        run: |
          ./gradlew reports

      - name: Extract test results
        working-directory: "tests/integration-tests"
        id: analyze_test_results
        if: github.ref_name == 'main' && always()
        run: |
          JSON_RESULTS="target/site/serenity/serenity-summary.json"
          CONCLUSION=failure
          TOTAL_TESTS=0
          FAILED_TESTS=0
          SKIPPED_TESTS=0
          TESTS_WITH_ERRORS=0
          if [ -f "${JSON_RESULTS}" ]; then
            TOTAL_TESTS="$(cat ${JSON_RESULTS} | jq '.results.counts.total')"
            PENDING_TESTS="$(cat ${JSON_RESULTS} | jq '.results.counts.pending')"
            SKIPPED_TESTS="$(cat ${JSON_RESULTS} | jq '.results.counts.skipped')"
            IGNORED_TESTS="$(cat ${JSON_RESULTS} | jq '.results.counts.ignored')"
            FAILED_TESTS="$(cat ${JSON_RESULTS} | jq '.results.counts.failure')"
            TESTS_WITH_ERRORS="$(cat ${JSON_RESULTS} | jq '.results.counts.error')"
            if [[ ${FAILED_TESTS} == 0 && ${TESTS_WITH_ERRORS} == 0 ]] ; then
              CONCLUSION=success
            fi
          fi
          {
            echo "conclusion=${CONCLUSION}";
            echo "tests=${TOTAL_TESTS}";
            echo "failures=${FAILED_TESTS}";
            echo "errors=${TESTS_WITH_ERRORS}";
            echo "pending=${PENDING_TESTS}";
            echo "skipped=${SKIPPED_TESTS}";
            echo "ignored=${IGNORED_TESTS}";
          } >> "$GITHUB_OUTPUT"

      - name: Publish e2e test Results
        id: publish-unit-tests
        uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        with:
          junit_files: "${{ env.REPORTS_DIR }}/SERENITY-JUNIT-*.xml"
          comment_title: "Integration Test Results"
          check_name: "Integration Test Results"

      - name: Upload serenity report
        if: github.ref_name == 'main' || failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: integration-tests-result
          path: ${{ env.REPORTS_DIR }}
          compression-level: 9

      - name: Upload logs
        if: github.ref_name == 'main' || failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: docker-logs
          path: ${{ env.LOGS_DIR }}
          compression-level: 9

      - name: Slack Notification
        if: github.ref_name == 'main' && failure()
        uses: rtCamp/action-slack-notify@e31e87e03dd19038e411e38ae27cbad084a90661 # v2.3.3
        env:
          SLACK_COLOR: ${{ steps.analyze_test_results.outputs.conclusion }}
          SLACK_MESSAGE: |
            Total: ${{ steps.analyze_test_results.outputs.tests }}
            Failed: ${{ steps.analyze_test_results.outputs.failures }}
            Errors in tests: ${{ steps.analyze_test_results.outputs.errors }}
            Skipped (known bugs): ${{ steps.analyze_test_results.outputs.skipped }}
          SLACK_TITLE: "Identus Cloud Agent Integration Tests: ${{ steps.analyze_test_results.outputs.conclusion }}"
          SLACK_USERNAME: circleci
          SLACK_WEBHOOK: ${{ secrets.E2E_TESTS_SLACK_WEBHOOK }}

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: Run didcomm tests
        working-directory: "tests/didcomm-tests"
        env:
          AGENT_VERSION: ${{ steps.build_local_cloud_agent.outputs.agent_version }}
        run: |
          ./docker/run.sh "$AGENT_VERSION"
          npm i
          npm test
          ./docker/stop.sh
