name: Performance tests

concurrency:
  group: ${{ github.head_ref }}${{ github.ref }}-performance-tests
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: read

env:
  BENCHMARKING_DIR: "tests/performance-tests/agent-performance-tests-k6"
  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_ACTOR: ${{ github.actor }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  run-e2e-tests:
    name: "Run performance tests"
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.pull_request.title, '[skip ci]') }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@32ffa16635ff8f19cc21ea253a987f0fdf29844c # v14
        with:
          java-version: openjdk@1.17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3.5.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ env.GITHUB_ACTOR }}
          password: ${{ env.GITHUB_TOKEN }}

      - uses: KengoTODA/actions-setup-docker-compose@aa468051c6851848da9bfe114e7eac913c0bf59c # v1.2.3
        name: Install `docker-compose`
        with:
          version: "2.14.2"

      - name: Build local version of Cloud Agent
        env:
          ENV_FILE: "infrastructure/local/.env"
        run: |
          sbt docker:publishLocal
          AGENT_VERSION=$(cut version.sbt -d '=' -f2 | tr -d '" ')
          sed -i.bak "s/AGENT_VERSION=.*/AGENT_VERSION=${AGENT_VERSION}/" "${ENV_FILE}" && rm -f "${ENV_FILE}.bak"
          cat "${ENV_FILE}"

      - name: Start services for issuer holder and verifier
        env:
          PORT: 8080
          ADMIN_TOKEN: admin
          DEFAULT_WALLET_ENABLED: true
          DEFAULT_WALLET_AUTH_API_KEY: default
          API_KEY_AUTO_PROVISIONING: false
          API_KEY_ENABLED: true
          DOCKERHOST: "host.docker.internal"
          ISSUER_PORT: 8080
          HOLDER_PORT: 8090
          VERIFIER_PORT: 8100
          NODE_REFRESH_AND_SUBMIT_PERIOD: 1s
          NODE_MOVE_SCHEDULED_TO_PENDING_PERIOD: 1s
          NODE_WALLET_MAX_TPS: 1000
        uses: hoverkraft-tech/compose-action@05da55b2bb8a5a759d1c4732095044bd9018c050 # v2.4.3
        with:
          compose-file: "./infrastructure/shared/docker-compose-combined.yml"
          compose-flags: "--env-file ./infrastructure/local/.env"
          up-flags: "--wait"
          down-flags: "--volumes"

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 16.x
          registry-url: "https://npm.pkg.github.com"
          scope: "input-output-hk"

      - name: Install dependencies
        uses: borales/actions-yarn@3766bb1335b98fb13c60eaf358fe20811b730a88 # v5.0.0
        with:
          cmd: install
          dir: ${{ env.BENCHMARKING_DIR }}

      - name: Compile tests to JS
        uses: borales/actions-yarn@3766bb1335b98fb13c60eaf358fe20811b730a88 # v5.0.0
        with:
          cmd: webpack
          dir: ${{ env.BENCHMARKING_DIR }}

      - name: All Smoke Tests
        env:
          ISSUER_AGENT_API_KEY: default
          HOLDER_AGENT_API_KEY: default
          VERIFIER_AGENT_API_KEY: default
        run: |
          # Have to use manual download because GitHub action doesnt support localhost execution
          curl https://github.com/grafana/k6/releases/download/v0.45.0/k6-v0.45.0-linux-amd64.tar.gz -L | tar xvz --strip-components 1
          ls -la
          ./k6 run -e SCENARIO_LABEL=create-prism-did-smoke ${{ env.BENCHMARKING_DIR }}/dist/create-prism-did-test.js
          ./k6 run -e SCENARIO_LABEL=credential-offer-smoke ${{ env.BENCHMARKING_DIR }}/dist/credential-offer-test.js
          ./k6 run -e SCENARIO_LABEL=credential-definition-smoke ${{ env.BENCHMARKING_DIR }}/dist/credential-definition-test.js
          ./k6 run -e SCENARIO_LABEL=credential-schema-smoke ${{ env.BENCHMARKING_DIR }}/dist/credential-schema-test.js
          ./k6 run -e SCENARIO_LABEL=did-publishing-smoke ${{ env.BENCHMARKING_DIR }}/dist/did-publishing-test.js
          ./k6 run -e SCENARIO_LABEL=connection-flow-smoke ${{ env.BENCHMARKING_DIR }}/dist/connection-flow-test.js
          ./k6 run -e SCENARIO_LABEL=issuance-flow-smoke ${{ env.BENCHMARKING_DIR }}/dist/issuance-flow-test.js
          ./k6 run -e SCENARIO_LABEL=present-proof-flow-smoke ${{ env.BENCHMARKING_DIR }}/dist/present-proof-flow-test.js
